.side__bar{
    width: 360;
    height: auto;
    margin-top:10px;
    margin-left:auto;
}
.restaurant__icon{
    width: 90px;
    height: 90px;
    border-radius: 8px;
    margin-left: 5px;
}
.retaurant__info{
    margin-right: 3px;
}
.side__barReview{
    height:15px;
    width: fit-content;
}
.feedbacks{
    display: flex;
}